* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.logo, .logo *{
	font-family: 'Leckerli One', cursive;
}

.logo:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

nav {
	background: #34495e;
	color: #eee;
	font-size: 2.5em;
	padding: 0.2em;
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center
}

nav:hover, .button:hover {
	text-decoration: none;
	background: #2c3e50;
}

main {
	background: #eee;
	padding: 3em;
	padding-top: 6em;
	min-height: 100%;
	text-align: center;
}

.button {
	background: #34495e;
	color: #eee;
	padding: 1em;
	font-size: inherit;
	border: 0px;
	display: inline-block;
	cursor: pointer;
}

input[type=text], input[type=password] {
	padding: 1em;
	line-height: 1em;
	font-size: inherit;
	display: block;
	margin: 0.2em auto;
}

form > * {
	margin-bottom: 0.2em;
}