<!DOCTYPE html>
<html>
<head>
	<title>Zeus - Bandwidth for Rent</title>
</head>
<body>
	{{{body}}}
	{{#if error}}{{error}}{{/if}}
	{{#if success}}{{success}}{{/if}}
	{{#if warning}}{{warning}}{{/if}}
</body>
</html>