<h1>Welcome, {{user.username}}</h1>
<form method="POST" action="/download">
	<input type="text" placeholder="Download URL" name="url">
	<input type="submit" value="Begin Download Lol">
</form>
<a href="/logout">Logout</a>