<h1>Welcome, {{user.username}}</h1>
<form method="POST" action="/download">
	<input type="text" placeholder="Download URL" name="url" size="50">
	<input type="submit" value="Begin Download Lol" class="button">
</form>
<a href="/logout" class="button">Logout</a>