<form method="POST" action="/signin">
	<input type="text" placeholder="Username" name="username" required autofocus/>
	<input type="password" placeholder="Password" name="password" required/>
	<input type="submit" value="Sign In" class="button"><br>
	<a href="/signup" class="button">Create an account instead</a>
</form>